/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	min-width: 350px;
}

.bg-image {
	background: url(utils/leo-bg.webp) no-repeat center center fixed; 
  background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	opacity: .20;
}
